# Node modules
node_modules/

# pnpm store
.pnpm-store/

# Build output
.next/
out/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# VSCode
.vscode/

# MacOS
.DS_Store

# Misc
*.log
